<a href="https://colab.research.google.com/github/BRIJNANDA1979/CNN-Sentinel/blob/master/Unique_labels_BigEarthNet_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [104]:
import os
import pandas as pd

In [105]:
#open Fully labelled using BigEarthNet Data processing.ipynb that generates BigEarthNet CSV file containing 590326 files and labels
#35 types of Unique labelled geotiff 114027 images
path = '/content/drive/MyDrive/output.csv'

In [106]:
df = pd.read_csv(path)
df.count()

labels    590326
files     590326
dtype: int64

In [107]:
df.head()

              labels                                              files
0  ['Sea and ocean']  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
1  ['Sea and ocean']  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
2  ['Sea and ocean']  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
3  ['Sea and ocean']  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
4  ['Sea and ocean']  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...

In [108]:
df.tail()

                                                   labels                                              files
590321  ['Coniferous forest', 'Mixed forest', 'Water b...  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
590322              ['Coniferous forest', 'Mixed forest']  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
590323              ['Coniferous forest', 'Mixed forest']  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
590324  ['Coniferous forest', 'Mixed forest', 'Transit...  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
590325  ['Coniferous forest', 'Mixed forest', 'Transit...  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...

In [109]:
df['labels'] = df['labels'].str.replace('[', '') #string Data processing
df.tail()
df['labels'] = df['labels'].str.replace(']', '')
df.tail()

                                                   labels                                              files
590321  'Coniferous forest', 'Mixed forest', 'Water bo...  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
590322                'Coniferous forest', 'Mixed forest'  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
590323                'Coniferous forest', 'Mixed forest'  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
590324  'Coniferous forest', 'Mixed forest', 'Transiti...  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
590325  'Coniferous forest', 'Mixed forest', 'Transiti...  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...

In [110]:
series= df['labels'].str.contains(',') # Filter single labelled geotiff images

In [111]:
print(series)

0         False
1         False
2         False
3         False
4         False
          ...
590321     True
590322     True
590323     True
590324     True
590325     True
Name: labels, Length: 590326, dtype: bool

In [112]:
df['status'] = series #add new column status to filter single labelled geotiff images

In [113]:
df.tail()

                                                   labels  ... status
590321  'Coniferous forest', 'Mixed forest', 'Water bo...  ...   True
590322                'Coniferous forest', 'Mixed forest'  ...   True
590323                'Coniferous forest', 'Mixed forest'  ...   True
590324  'Coniferous forest', 'Mixed forest', 'Transiti...  ...   True
590325  'Coniferous forest', 'Mixed forest', 'Transiti...  ...   True

[5 rows x 3 columns]

In [114]:
ls=[]
files=[]
for row in df.itertuples(): #iterate each row to filter 
    #print(row[3])
    if(row[3]== False):
      ls.append(row[1]) #filtered labels
      files.append(row[2])

In [115]:
print(ls[0:10])
print(files[0:10])

["'Sea and ocean'", "'Sea and ocean'", "'Sea and ocean'", "'Sea and ocean'", "'Sea and ocean'", "'Sea and ocean'", "'Sea and ocean'", "'Sea and ocean'", "'Sea and ocean'", "'Sea and ocean'"]
['D:\\Bigearthnet v1 Data\\BigEarthNet-S2-v1.0\\BigEarthNet-v1.0/S2A_MSIL2A_20170613T101031_0_45\\S2A_MSIL2A_20170613T101031_0_45_labels_metadata.json', 'D:\\Bigearthnet v1 Data\\BigEarthNet-S2-v1.0\\BigEarthNet-v1.0/S2A_MSIL2A_20170613T101031_0_46\\S2A_MSIL2A_20170613T101031_0_46_labels_metadata.json', 'D:\\Bigearthnet v1 Data\\BigEarthNet-S2-v1.0\\BigEarthNet-v1.0/S2A_MSIL2A_20170613T101031_0_47\\S2A_MSIL2A_20170613T101031_0_47_labels_metadata.json', 'D:\\Bigearthnet v1 Data\\BigEarthNet-S2-v1.0\\BigEarthNet-v1.0/S2A_MSIL2A_20170613T101031_0_48\\S2A_MSIL2A_20170613T101031_0_48_labels_metadata.json', 'D:\\Bigearthnet v1 Data\\BigEarthNet-S2-v1.0\\BigEarthNet-v1.0/S2A_MSIL2A_20170613T101031_0_49\\S2A_MSIL2A_20170613T101031_0_49_labels_metadata.json', 'D:\\Bigearthnet v1 Data\\BigEarthNet-S2-v1.0\\BigEarthNet-v1.0/S2A_MSIL2A_20170613T101031_0_50\\S2A_MSIL2A_20170613T101031_0_50_labels_metadata.json', 'D:\\Bigearthnet v1 Data\\BigEarthNet-S2-v1.0\\BigEarthNet-v1.0/S2A_MSIL2A_20170613T101031_0_51\\S2A_MSIL2A_20170613T101031_0_51_labels_metadata.json', 'D:\\Bigearthnet v1 Data\\BigEarthNet-S2-v1.0\\BigEarthNet-v1.0/S2A_MSIL2A_20170613T101031_0_52\\S2A_MSIL2A_20170613T101031_0_52_labels_metadata.json', 'D:\\Bigearthnet v1 Data\\BigEarthNet-S2-v1.0\\BigEarthNet-v1.0/S2A_MSIL2A_20170613T101031_0_53\\S2A_MSIL2A_20170613T101031_0_53_labels_metadata.json', 'D:\\Bigearthnet v1 Data\\BigEarthNet-S2-v1.0\\BigEarthNet-v1.0/S2A_MSIL2A_20170613T101031_0_54\\S2A_MSIL2A_20170613T101031_0_54_labels_metadata.json']

In [116]:
print(len(ls))   #these are Single labelled images 114027 images
print(len(files))
df=pd.DataFrame()
df['unique_labels'] = ls
df['files'] = files

df

114027
114027

              unique_labels                                              files
0           'Sea and ocean'  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
1           'Sea and ocean'  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
2           'Sea and ocean'  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
3           'Sea and ocean'  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
4           'Sea and ocean'  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
...                     ...                                                ...
114022  'Coniferous forest'  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
114023  'Coniferous forest'  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
114024  'Coniferous forest'  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
114025  'Coniferous forest'  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...
114026  'Coniferous forest'  D:\Bigearthnet v1 Data\BigEarthNet-S2-v1.0\Big...

[114027 rows x 2 columns]

In [117]:
uls=set(df['unique_labels']) # Only 35 types of unique labelled images
print(uls)
len(uls)

{"'Rice fields'", "'Industrial or commercial units'", "'Sparsely vegetated areas'", "'Vineyards'", "'Non-irrigated arable land'", "'Olive groves'", "'Sea and ocean'", "'Discontinuous urban fabric'", "'Mineral extraction sites'", "'Coniferous forest'", "'Coastal lagoons'", "'Estuaries'", "'Fruit trees and berry plantations'", "'Salt marshes'", "'Intertidal flats'", "'Mixed forest'", "'Broad-leaved forest'", "'Green urban areas'", "'Sclerophyllous vegetation'", "'Sport and leisure facilities'", "'Dump sites'", "'Natural grassland'", "'Agro-forestry areas'", "'Transitional woodland/shrub'", "'Water bodies'", "'Peatbogs'", "'Permanently irrigated land'", "'Annual crops associated with permanent crops'", "'Complex cultivation patterns'", "'Airports'", "'Water courses'", "'Continuous urban fabric'", "'Moors and heathland'", "'Inland marshes'", "'Pastures'"}

35

In [118]:
type(uls)

set

In [119]:
unique_labels = l
print(len(unique_labels))
df =  pd.DataFrame()
df['unique_labels'] = unique_labels
df.to_csv('/content/drive/MyDrive/unique_bigeathnet_labels.csv',index=False)

114027

In [120]:
print(df)

            unique_labels
0           Sea and ocean
1           Sea and ocean
2           Sea and ocean
3           Sea and ocean
4           Sea and ocean
...                   ...
114022  Coniferous forest
114023  Coniferous forest
114024  Coniferous forest
114025  Coniferous forest
114026  Coniferous forest

[114027 rows x 1 columns]

In [121]:
path = '/content/drive/MyDrive/unique_bigeathnet_labels.csv'
df= pd.read_csv(path)
df.tail()

            unique_labels
114022  Coniferous forest
114023  Coniferous forest
114024  Coniferous forest
114025  Coniferous forest
114026  Coniferous forest

In [122]:
uls=set(df['unique_labels']) # Only 35 types of unique labelled images
print(uls)
len(uls)

{'Industrial or commercial units', 'Transitional woodland/shrub', 'Continuous urban fabric', 'Green urban areas', 'Pastures', 'Permanently irrigated land', 'Sparsely vegetated areas', 'Peatbogs', 'Discontinuous urban fabric', 'Mixed forest', 'Sclerophyllous vegetation', 'Sea and ocean', 'Estuaries', 'Dump sites', 'Intertidal flats', 'Inland marshes', 'Water courses', 'Coniferous forest', 'Natural grassland', 'Agro-forestry areas', 'Rice fields', 'Coastal lagoons', 'Salt marshes', 'Annual crops associated with permanent crops', 'Sport and leisure facilities', 'Moors and heathland', 'Fruit trees and berry plantations', 'Broad-leaved forest', 'Mineral extraction sites', 'Vineyards', 'Complex cultivation patterns', 'Water bodies', 'Airports', 'Non-irrigated arable land', 'Olive groves'}

35

In [123]:
# use groupby to find number of geotiff images belonging to a particular label
import numpy as np
grouped = df.groupby('unique_labels')
print(grouped['unique_labels'].agg(np.size))

unique_labels
Agro-forestry areas                               882
Airports                                            5
Annual crops associated with permanent crops       19
Broad-leaved forest                              4033
Coastal lagoons                                   751
Complex cultivation patterns                      131
Coniferous forest                                5055
Continuous urban fabric                          8281
Discontinuous urban fabric                         96
Dump sites                                          3
Estuaries                                         233
Fruit trees and berry plantations                  60
Green urban areas                                   3
Industrial or commercial units                      4
Inland marshes                                     34
Intertidal flats                                   24
Mineral extraction sites                           10
Mixed forest                                      584
Moors and heathland                                32
Natural grassland                                  13
Non-irrigated arable land                       14072
Olive groves                                       66
Pastures                                         5501
Peatbogs                                          333
Permanently irrigated land                        227
Rice fields                                        24
Salt marshes                                        8
Sclerophyllous vegetation                          95
Sea and ocean                                   68231
Sparsely vegetated areas                            6
Sport and leisure facilities                        4
Transitional woodland/shrub                       490
Vineyards                                          29
Water bodies                                     4669
Water courses                                      19
Name: unique_labels, dtype: int64